.container{
height: 768px;
width: 1366px;
margin:0 auto;
background-image: url(../img/background\ 1.png);
font-family: Roboto, sans-serif;
color: rgba(255, 255, 255, 1);
position:relative;
}
.wrapper{
width: 1028px;
margin-left: 161px;
position:relative;
}
.castle{
margin-top: 51px;   
height: 47px;
width: 53px;
display: inline-block;
opacity: 0;
}
.words{
height: 30px;
width: 140px;
left: 61px;
top:51px;
position: absolute;
font-size: 29px;
font-weight: 700;
line-height: 29px;
text-align: left;
}
.words-2{
height: 21px;
width: 135px;
font-size: 18px;
font-weight: 700;
line-height: 18px;
text-align: left;
position: absolute;
}
.phone{
height: 21px;
width: 146px;
right: 0px;
top: 86px;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: right;
position: absolute;
}
.phone:hover{
color: rgba(242, 101, 34, 1);   
}
.e-mail{
height: 21px;
width: 219px;
right: 0px;
top: 46px;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: right; 
position: absolute;   
}
.e-mail:hover{
color: rgba(242, 101, 34, 1); 
}
.container-logo{
margin-top: 20px;  
display: inline-block;
background:url(../img/logo.svg) no-repeat 50% 50%; 
}
.container-logo:hover{
color: rgba(242, 101, 34, 1);
background:url(../img/logo\ 2.svg) no-repeat 50% 50%; 
}
.wrapper-main{
height: 560px;
width: 1030px;
left: 159px;
top: 22px;
position:relative;  
}
.picture{
width: 300px; 
height: 220px;
object-fit: contain;
object-position: left top;
}
.shopping{
left: 6px;
top: 0px;
position: absolute; 
}
.shopping:hover{
color: rgba(242, 101, 34, 1);
}
.pushup_details {
width: 100%;
height: 55px;
display: inline-flex;
justify-content: space-between;
justify-items: center;
padding: 0 16px 12px 16px;
background-color: #F26522;
position: absolute;
bottom: 25px;
visibility: hidden;
}
.shopping:hover .pushup_details {
height: 55px;
visibility: visible;
transition: 0.5s;
animation-duration: 0.5s;
animation-name: slidein;
}
@keyframes slidein {
    from {
    height: 0px;
    }
    to {
    height: 55px;
    }
  }
.pushup_text {
display: flex;
flex-direction: column;
justify-content: space-between;
justify-items: center;
}
.pushup_text1 {
font-weight: 400;
font-size: 10px;
line-height: 10px;
color: #FFFFFF;
padding-top: 7px;
text-align: left;
}
.pushup_text_price {
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #FFFFFF ;
padding-top: 8px;
}
.pushup_details_link {
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF ;
align-self: end;
padding-left: 110px;
}
.arrow::after {
content:""; 
width: 8px;
height: 8px;
border-top: 1px solid #ffffff;
border-right: 1px solid #ffffff;    
background-color:  rgba(242, 101, 34, 1);
left: 274px;
bottom:12px;
position: absolute;
transform: translateY(-50%) rotate(45deg);
} 

.sightseeng{
transform: scale(1.02);
left: 370px;
top: 2px;
position: absolute;   
}
.sightseeng:hover{
    color: rgba(242, 101, 34, 1);
    }
.sightseeng:hover .pushup_details {
    height: 55px;
    visibility: visible;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
    }
    @keyframes slidein {
        from {
        height: 0px;
        }
        to {
        height: 55px;
        }
      }

.food-tours{
right: 0px;
top: 0px;
position: absolute;
}
.food-tours:hover{
    color: rgba(242, 101, 34, 1); 
}
.food-tours:hover .pushup_details {
    height: 55px;
    visibility: visible;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
    }
    @keyframes slidein {
        from {
        height: 0px;
        }
        to {
        height: 55px;
        }
      }
.bars{
left: 0px;
top: 320px;
position: absolute;
}
.bars:hover{
    color: rgba(242, 101, 34, 1); 
}   
.bars:hover .pushup_details {
    height: 55px;
    visibility: visible;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
    }
    @keyframes slidein {
        from {
        height: 0px;
        }
        to {
        height: 55px;
        }
      }
.art{
left: 361px;
top: 320px;
position: absolute;
}
.art:hover{
    color: rgba(242, 101, 34, 1);    
}
.art:hover .pushup_details {
    height: 55px;
    visibility: visible;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
    }
    @keyframes slidein {
        from {
        height: 0px;
        }
        to {
        height: 55px;
        }
      }
.walking{
right: 0px;
top: 320px;
position: absolute; 
}
.walking:hover{
    color: rgba(242, 101, 34, 1);    
}  
.walking:hover .pushup_details {
    height: 55px;
    visibility: visible;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
    }
    @keyframes slidein {
        from {
        height: 0px;
        }
        to {
        height: 55px;
        }
      }
.tour-name{
text-align: center;
}
.copyrights{
height: 21px;
width: 306px;
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0px;
position: absolute;
bottom: 15px;
left: 530px;
}
